.jumbotron{
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: 0.3rem;
}

.bg-light {
  background-color: #83a4c4 !important;
}

.bid-type {
  background-color: rgb(147,179,208) !important;
  border-color: rgb(147,179,208) !important;
}

.sliceRow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.sliceColumn {
  width: calc(100% / 6);
  text-align: center;
  padding: 1px;
}

.sliceTable {
  min-width: 800px;
}

.sliceHeader {
   background-color: #83a4c4;
   color: white;
}

.mathRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.mathColumn {
  width: calc(100% / 3);
  text-align: center;
  padding: 1px;
}

.mathTable {
  min-width: 500px;
}

.jumboColumn {
  width: calc(100% / 1);
  text-align: center;
  padding: 1px;
  background-color: var(--bs-light);
}


.simpleRow {
  display: flex;
  align-items: center;
  width: calc(100% / 1);
}